[Unit]                                                                                                             
Description=NEAT metadata exporter
After=network.target

[Service]
ExecStart=/usr/sbin/neat-metadata-exporter
Type=simple
Restart=on-failure

StandardError=syslog
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

